<div><h2 style="color : green">MAP TOOL DEMO: This was a spike and progress of the map tool demo the customer took interest in.  It did not get completed, but you may add circles ("fields") to the grey canvas by clicking the button and following instructions.  Note, the geomtric data here does not get fed to the database at this stage.  It's just a demo</h2></div>
<div id="paper")></div>
<p id="message" style="color:green"></p>
<button id="add_circle" type="button" style="color:green"><b>Click to Add "Field" (circle)</b></button>
<h2>Properties of Circles ("center positions")</h2>
<ul id="list"></ul>


<h3>CRUD Operations</h3>
<h4>Create New Field</h4>
<form name="f-c-gameVersion" method="post" onSubmit="btnCreate_onClick()">
	<p>Field Number: <input type="text" id="c-FieldNumber"/></p>
	<p>Field Name: <input type="text" id="c-FieldName"/></p>
	<p>Acreage: <input type="text" id="c-Acreage"/></p>
	<p>Field Location: <input type="text" id="c-FieldLocation"/></p>
	<p>Crop: <input type="text" id="c-Crop"/></p>
	<p>Husbandry: <input type="text" id="c-Husbandry"/></p>
	<p>Technique: <input type="text" id="c-Technique"/></p>
	<input type="submit" id="btn-c-field" value="Create" />
</form>

<h4>Retrieve Fields</h4>
<table>
	<thead>
		<tr>
			<th>Select
			<th>Edit (disabled)
			<th>Delete
			<th>Field Number
			<th>Field Name
			<th>Acreage
			<th>Field Location
			<th>Crop
			<th>Husbandry
			<th>Technique
		</tr>
	</thead>
	<tbody>

<!--
<td><input type="radio" name="sel-gameVersion" value={{this.playerId}} />
<td><input type="image" src="./images/edit.png" onClick="alert('Edit playerId:'{{this.playerId}})" value="Edit" disabled/>
<td><input type="image" src="./images/delete.png" onClick="btnDelete_onClick({{this.playerId}})" value="Delete"/>
-->

		{{#each obj.rows}}
		<tr>
			<td><input type="radio" name="sel-gameVersion" value={{this.id}} />
			<td><input type="image" src="./images/edit.png" onClick="alert('Edit Field:'{{this.id}})" value="Edit" disabled/>
			<td><input type="image" src="./images/delete.png" onClick="btnDelete_onClick({{this.id}})" value="Delete"/>
			<td>{{this.FieldNumber}}
			<td>{{this.FieldName}}
			<td>{{this.Acreage}}
			<td>{{this.FieldLocation}}
			<td>{{this.Crop}}
			<td>{{this.Husbandry}}
			<td>{{this.Technique}}
		</tr>
		{{/each}}
	</tbody>
</table>

<h4><em style="color:grey;">(DISABLED)</em> Update (above-selected item) <em style="color:grey;">(DISABLED)</em></h4>
<p>This section has not been implemented and is disabled.</p>

<script src="/js/url.js"></script>
<script src="/js/raphael.min.js"></script>
<script src="/js/farmFields.js"></script>
