<script>
function btnCreate_onClick(id) {
	//debugger;
	//alert("create record: " + sGameVersionName);
	
	sPlayerFirstName = document.getElementById("c-playerFirstName").value;
	if (sPlayerFirstName === "") {
		alert("Player First Name is required.");
		event.preventDefault();
		return;
	}
	
	sPlayerLastName = document.getElementById("c-playerLastName").value;
	if (sPlayerLastName === "") {
		alert("Player Last Name is required.");
		event.preventDefault();
		return;
	}
	
	sPlayerHandle = document.getElementById("c-playerHandle").value;
	if (sPlayerHandle === "") {
		alert("Player Handle is required.");
		event.preventDefault();
		return;
	}
	
	var payload = {
	additionalProperties: false,
	type: "object",
	properties: {
		playerFirstName: sPlayerFirstName,
		playerLastName: sPlayerLastName, 
		playerHandle: sPlayerHandle 
	}};
	
	var req = new XMLHttpRequest();
	req.open("POST", "http://flip2.engr.oregonstate.edu:17406/api/players/", true);
	req.setRequestHeader('Content-Type', 'application/json');
	req.addEventListener('load',function(){
		//debugger;
		if (req.status >= 200 && req.status < 400) {
			console.log("successfully posted id: " + JSON.parse(req.response).newId);
		} else {
			alert("Error in network request: " + req.statusText);
		}
	});
	req.send(JSON.stringify(payload));
	
	event.preventDefault();
	
	location.reload();
}

function btnDelete_onClick(id) {
	var payload = {
	additionalProperties: false,
	type: "object",
	properties: {
		playerId: id
	}};

	var req = new XMLHttpRequest();
	req.open("DELETE", "http://flip2.engr.oregonstate.edu:17406/api/players/", true);
	req.setRequestHeader('Content-Type', 'application/json');
	req.addEventListener('load',function(){
		//debugger;
		if (req.status >= 200 && req.status < 400) {
			console.log("successfully deleted id: " + id);
		} else {
			alert("Error in network request: " + req.statusText);
		}
	});
	req.send(JSON.stringify(payload));
	
	event.preventDefault();
	
	location.reload();

}
</script>
<h3>CRUD Operations</h3>
<h4>Create</h4>
<form name="f-c-gameVersion" method="post" onSubmit="btnCreate_onClick()">
	<p>playerFirstName: <input type="text" id="c-playerFirstName"/></p>
	<p>playerLastName: <input type="text" id="c-playerLastName"/></p>
	<p>playerHandle: <input type="text" id="c-playerHandle"/></p>
	<input type="submit" id="btn-c-player" value="Create" />
</form>
<h4>Retrieve</h4>
<table>
	<thead>
		<tr>
			<th>Select
			<th>Edit (disabled)
			<th>Delete
			<th>playerFirstName
			<th>playerLastName
			<th>playerHandle
		</tr>
	</thead>
	<tbody>
		{{#each obj.rowsPlayers.rows}}
		<tr>
			<td><input type="radio" name="sel-gameVersion" value={{this.playerId}} />
			<td><input type="image" src="./images/edit.png" onClick="alert('Edit playerId:'{{this.playerId}})" value="Edit" disabled/>
			<td><input type="image" src="./images/delete.png" onClick="btnDelete_onClick({{this.playerId}})" value="Delete"/>
			<td>{{this.playerFirstName}}
			<td>{{this.playerLastName}}
			<td>{{this.playerHandle}}
		</tr>
		{{/each}}
	</tbody>
</table>
<h4>Update (above-selected item)</h4>
<p>This section has not been implemented and is disabled.</p>
<div>
<form name="f-u-gameVersion" onSubmit="btnUpdate_onClick()">
	<p>Game Version Name: <input type="text" id="u-gameVersionName" disabled/></p>
	
	<p>Game System: 
		<select id="u-gameSystem" disabled>
			<option value=0></option>
			{{#each obj.rowsSystems.rowsSystems}}
			<option value={{this.gameSystemId}}>{{this.gameSystemName}}</option>
			{{/each}}
		</select>	</p>
	<p>Game Genre: 
		<select id="u-gameGenre" disabled>
			<option value=0></option>
			{{#each obj.rowsGenres.rowsGenres}}
			<option value={{this.gameGenreId}}>{{this.gameGenreName}}</option>
			{{/each}}
		</select>	</p>
	</p>
	<p>Game Family: 
		<select id="u-gameFamily" disabled>
			<option value=0></option>
			{{#each obj.rowsFamilies.rowsFamilies}}
			<option value={{this.gameFamilyId}}>{{this.gameFamilyName}}</option>
			{{/each}}
		</select>	</p>
	</p>
	
	<input type="submit" id="btn-u-gameVersion" value="Update" disabled/>
</form>
</div>

